body {
	background-color: #f8cacd;

}

/*header*/
.navbar-brand{
	font-family: 'Paytone One', sans-serif;
	font-family: 'Gravitas One', cursive;
	font-size: 250%;
	line-height: 95%;
	height: 0%;
	padding-bottom: 0px;
	color: #ffffff;
	text-shadow: 3px 3px #fadd66;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #ffffff;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.navbar-default {
	background-color: #f8cacd;
	border: none;
	position: relative;
}

.nav>li>a {
	padding: 8px;
}

#seasons > a, #seasons > a:visited, #flowers > a, #flowers > a:visited {
	color: #99ccd8;
}


#seasons > a:hover, #flowers > a:hover {
	color: #f8cacd;
}

/*the background visited menu*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #eeaed1;
}


/*sm, md, lg menu */
a.dropdown-toggle {
	text-align: center;
	font-family: 'Unica One', cursive;
	font-size: 160%;

}

/*sm, md, lg menu dropdown items*/
.dropdown-menu > li > a:hover {
	color: #eeaed1;
}

.dropdown-menu {
	min-width: 100%;
	background-color: #eeaed1;
	border: none;
	border-radius: 0px;
}

/*sm, md, lg menu dropdown items*/
.dropdown-menu > li > a, .dropdown-menu > li > a:visited {
	color: #fadd66;
	font-family: 'Unica One', cursive;
	font-size: 100%;
}

/* xs toggled menu items inside dropdown*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #ffffff;
	text-align: center;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #eeaed1;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
	padding: 5px 15px 5px 15px;
}	
/* /xs toggled menu items inside dropdown */

/*toggle button*/
button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 200%;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus   {
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
	color: #fadd66;
	background-color: transparent;
}
/*/toggle button*/

/*color choice dots*/
#orange {
	width: 15px;
	height: 15px;
	background: #fa930e;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 31%;
}
#red {
	width: 15px;
	height: 15px;
	background: #fa1c0e;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 33%;
}
#pink {
	width: 15px;
	height: 15px;
	background: #eeaed1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 35%;
}
#violet {
	width: 15px;
	height: 15px;
	background: #cd99d8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 37%;
}
#blue {
	width: 15px;
	height: 15px;
	background: #99ccd8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 39%;
}
#green {
	width: 15px;
	height: 15px;
	background: #b8ddbb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 41%;
}
#yellow {
	width: 15px;
	height: 15px;
	background: #fadd66;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 43%;
}
#white {
	width: 15px;
	height: 15px;
	background: #ffffff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 81px;
	right: 45%;
}
/*/color choice dots*/

/*/header*/
/*main content*/

.container-fluid {
	position: relative;
	margin: 0% 1% 0% 1%;
}

#canvas {
	height: 30vw;
	width: 75%;
	background-color: #ffffff;
	float: left;
	box-shadow: 4px 4px #fadd66;
	margin-left: -3%;
}

#flowerList {
	height: 30vw;
	width: 25%;
	background-color: #b8ddbb;
	color: #ffffff;
	float: right;
	box-sizing: border-box;
	box-shadow: 4px 4px #fadd66;
}


#boxes {
	height: 20vw;
	width: 80%;
	position: relative;
	margin-top: 5%;
}

#box1, #box2, #box3, #box4 {
	background-color: #ffffff;
	width: 20%;
	height: 18vw;
	top: 2.5%;
	position: absolute;
}

#box1 {
	left: 5%;
	box-shadow: 4px 4px #fa1c0e;
}

#box2 {
	left: 28.5%;
	box-shadow: 4px 4px #fadd66;
}
#box3 {
	right: 28.5%;
	box-shadow: 4px 4px #b8ddbb;
}

#box4 {
	right: 5%;
	box-shadow: 4px 4px #99ccd8;
}

#lArrow {
	position: absolute;
	top: 45%;
	font-size: 200%;
	left: 0%;
	color: #ffffff;
}

#rArrow {
	position: absolute;
	top: 45%;
	font-size: 200%;
	right: 0%;
	color: #ffffff;
}

/*/main content*/

/* Extra small less than 768px */
@media (max-width: 767px) {
	#seasons > a, #seasons > a:visited, #flowers > a, #flowers > a:visited, #colors > a, #colors > a:visited {
	color: #ffffff;
	}
	#seasons > a:hover, #flowers > a:hover, #colors > a:hover {
		color: #fadd66;
	}

	#canvas {
		height: 60vw;
		width: 76%;
		margin-left: 12%;
	}

	#flowerList {
		height: 28vw;
		width: 70%;
		position: absolute;
		left: 15%;
		top: 160%;
	}

	#box1 {
		left: 15%;
		width: 30%;
		height: 27vw;
		top: -3%;
		box-shadow: 4px 4px #fadd66;
	}

	#box4 {
		right: 15%;
		width: 30%;
		height: 27vw;
		top: -3%;
		box-shadow: 4px 4px #fadd66;
	}
	#lArrow {
		position: absolute;
		top: 50%;
		font-size: 150%;
		left: 5%;
		color: #ffffff;
	}

	#rArrow {
		position: absolute;
		top: 50%;
		font-size: 150%;
		right: 5%;
		color: #ffffff;
	}

}

/* Small devices 768px- 991px */
@media (min-width: 768px) {
	

	#flowers {
		position: absolute;
		right: 5%;
		top: 60px;
		background-color: #fadd66;
	}

	#seasons {
		position: absolute;
		right: 18%;
		top: 60px;
		background-color: #ffffff;
	}
	

}

/* Medium devices  992px- 1199px */
@media (min-width: 992px) {

}

/* Large devices  1200 and up */
@media (min-width: 1200px) {
	
	
}	